<!-- Movie container -->
<div class="movie-container row">
  <div class="col-2">
    <label> <b>Seleccione una función:</b></label>
  </div>
  <div class="col-4">
    <select class="form-control" id="movie">
      <option value="220">Godzilla vs Kong (RS.220)</option>
      <option value="320">Radhe (RS.320)</option>
      <option value="250">RRR (RS.250)</option>
      <option value="260">F9 (RS.260)</option>
    </select>
  </div>
</div>

<!-- Showcase -->
<ul class="showcase">
  <li>
    <div class="seat"></div>
    <small>Disponible</small>
  </li>
  <li>
    <div class="seat selected"></div>
    <small>Seleccionado</small>
  </li>
  <li>
    <div class="seat sold"></div>
    <small>Vendido</small>
  </li>
</ul>

<!-- Asientos container -->
<div class="container">
  <!-- pantalla -->
  <div class="screen"></div>
  <div class="d-flex align-items-center justify-content-center">
    <div class="row">
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
    </div>

    <div class="row">
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat sold"></div>
      <div class="seat sold"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
    </div>
    <div class="row">
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat sold"></div>
      <div class="seat sold"></div>
    </div>
    <div class="row">
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
    </div>
    <div class="row">
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat sold"></div>
      <div class="seat sold"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
    </div>
    <div class="row">
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat sold"></div>
      <div class="seat sold"></div>
      <div class="seat sold"></div>
      <div class="seat"></div>
    </div>
    <div class="row">
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat sold"></div>
      <div class="seat sold"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
    </div>
    <div class="row">
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat sold"></div>
      <div class="seat sold"></div>
      <div class="seat sold"></div>
      <div class="seat"></div>
    </div>
  </div>
</div>

<!-- Numero de asientos y total -->
<div class="d-flex align-items-center justify-content-center">
  <p class="text">
    Has seleccionado <span id="count">0</span> asientos con un precio de
    <span id="total">0</span> MXN
  </p>
</div>
