<div class="modal-header">
  <h4 class="modal-title">Editar Tarea</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <!-- Aquí puedes mostrar el contenido de la tarea que se está editando -->
  <p>Contenido pasado del componente</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
  <button type="button" class="btn btn-primary">Guardar Cambios</button>
</div>
